.footer__main {
  background-color: $primary;
  color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__content {
  padding-top: 8px;
  padding-bottom: 8px;
}
