.footer__main {
  background-color: $primary;
  color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

.footer__content {
  // padding-bottom: 5px;
}

.footer__text {
  padding-top: 10px;
}
