.die-item{
    background-color: white;
    padding: 9px 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 8px gray;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

.isHeld{
    background-color: #59E391;
}

.notHeld{
    background-color: white;
}