.hangman-body{
    margin:0;
    padding: 0;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hangman-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    box-shadow: none;

}

.hangman-header > h1{
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

.hangman-header > p{
    font-size: 0.875rem;
    max-width: 350px;
    color: #8e8e8e;
}

.hangman-status-section{
    background-color: #10a95b;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-block: 20px;
}


.hangman-status-section > h2{
}

.hangman-status-section > p{
    
}

.hangman-languge-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 350px;
    justify-content: center;
    margin: 0 auto;
}

.hangman-languge-container > span{
    padding: 5px;
    border-radius: 6px;
    position: relative;
}

.hangman-word-container{
    display: flex;
    justify-content: center;
    margin-block: 20px;
    gap: 3px;
}

.hangman-word-container > span{
    border-bottom: 1px solid #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #3e3e3e;
    /* margin-right: 3px; */
    font-size: 1.25rem;
}

.hangman-keyboard-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
    gap: 3px;
}

.hangman-keyboard-container > button{
    padding: 10px;
    text-transform: uppercase;
    background-color: #fcba29;
    cursor: pointer;
    border-radius: 3px;
}

.hangman-keyboard-container > button.correct{
    background-color: green;
}

.hangman-keyboard-container > button.wrong{
    background-color: red;
}


.hangman-newgame-button{
    width: 200px;
    padding: 10px;
    background-color: #10a95b;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    margin-block: 20px;
}

/* Dimmed overlay with skull on "lost" languages */
.hangman-languge-container > span.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}