.main-container{    
    border: 2px solid #524747cc ;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

.pill-container{
    margin-top: 1rem;
    display: flexbox;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;    
}

.pill{
    background-color: #1b0fb9c6;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
}

.content-description{
    text-align: justify;
    margin-top: .8rem;
}

.project-name{
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: .05rem;
    
}

/* TODO - add animation to pills to slide in from right to left */